<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rokanthemes_CategoryTab::categorytab" title="Widget Category Tabs" module="Rokanthemes_CategoryTab" sortOrder="10" parent="Rokanthemes_RokanBase::rokanbase_setting" resource="Rokanthemes_CategoryTab::categorytab" action="adminhtml/system_config/edit/section/categorytab" />
    </menu>
</config>
