<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rokanthemes_faq_grid_data_source" xsi:type="string">rokanFaqGrid</item>
            </argument>
        </arguments>
    </type>
	
	<virtualType name="rokanFaqGrid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rokan_faq</argument> 
            <argument name="resourceModel" xsi:type="string">Rokanthemes\Faq\Model\ResourceModel\RokanFaq</argument>
        </arguments>
    </virtualType>
</config>
