<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rokanthemes_AjaxSuite::ajaxsuite" title="Ajax Suite" module="Rokanthemes_AjaxSuite" sortOrder="5" parent="Rokanthemes_RokanBase::rokanbase_setting" resource="Rokanthemes_AjaxSuite::ajaxsuite" action="adminhtml/system_config/edit/section/ajaxsuite" />
    </menu>
</config>
