<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <instagramsection>
            <instagramgroup>
                <active>0</active>
                <userid></userid>
                <accesstoken></accesstoken>
                <selectimageresolution>0</selectimageresolution>
            </instagramgroup>
        </instagramsection>    
    </default>
</config>
