<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Rokanthemes_Instagram::instagram_config" title="Instagram" module="Rokanthemes_Instagram" sortOrder="100" parent="Rokanthemes_RokanBase::rokanbase_setting" action="adminhtml/system_config/edit/section/instagramsection" resource="Rokanthemes_Instagram::instagram_config"/>
    </menu>
</config>
