<?xml version="1.0"?>
<!--
/**
 * Copyright 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
		<tab id="rokanthemes" translate="label" sortOrder="400">
            <label>Rokanthemes</label>
        </tab>
		<section id="faq_setting" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FAQ Setting</label>
            <tab>rokanthemes</tab>
			<resource>Rokanthemes_RokanBase::faq_setting</resource>
            <group id="faq_rokan" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>FAQ Setting</label>
				<field id="enable" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="bg_image" translate="label" type="image" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Image</label>
                    <comment>Allowed file types:PNG, JPG, JPEG.</comment>
                    <backend_model>Rokanthemes\Faq\Model\Config\FaqBanner</backend_model>
                    <base_url type="media" scope_info="1">rokanthemes/faqbanner</base_url>
                </field>
            </group>
        </section>
    </system>
</config>
