<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
        <storelocator>
            <google_api_key>
                <frontend>AIzaSyD900GgNQo4LbW2DD-AT1jKexMKFFTX8ts</frontend>
            </google_api_key>
        </storelocator>
    </default>
</config>
