<div class="order-comment-block">
    <label class="label">
        <span data-bind="i18n: 'Order comment'"></span>
    </label>
    <div class="control">
        <textarea class="admin__control-textarea" data-bind="
            value: value,
            valueUpdate: valueUpdate,
            hasFocus: focused,
            attr: {
                name: inputName,
                cols: cols,
                rows: rows,
                'aria-describedby': noticeId,
                placeholder: placeholder,
                id: uid,
                disabled: disabled
            }"
                />
    </div>
</div>
