<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Block\Product\ListProduct">
        <plugin name="product_tab_product_list" type="Rokanthemes\ProductTab\Plugin\Catalog\Block\Product\ListProduct" />
    </type>
</config>
